.header {
  height: 100vh;
  background-image: url(../images/hero.png);
  background-size: cover;
  position: relative;

  &__nav {
    color: $color-white;
    padding: 12px 0;

    &__logo {
      margin-#{$right}: 40px;
    }

    &__items {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 40px;
    }

    &__item {
      position: relative;

      &:not(:last-child) {
      }

      &__link {
        font-size: rem(16);
        font-weight: 500;
        transition: all .5s;
      }

      &:hover,
      &--active {
       color: #BE9137;
      }

      &--nested {
        & .header__nav__item__link {
          display: flex;
          align-items: center;
          column-gap: 8px;
        }
        .icon {
          font-size: 10px;
        }
      }

    }

    &__access {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    &__change-lang {
      margin-inline-end: 15px;

      &__button {
        background-color: transparent;
        border: 0;
        font-size: rem(14);
        display: flex;
        align-items: center;
        column-gap: 5px;
        color: #fff;

        &:hover,
        &:focus,
        &:focus-within,
        &:active {
          background-color: transparent !important;
          color: #BE9137 !important;
          border: 0 !important;
          box-shadow: none !important;
        }

        &::after {
          display: none;
        }

        &__icon {
          font-size: rem(18);
          margin-inline-start: 5px;
        }
      }
    }

    .dropdown-menu {
      text-align: #{$left};

      .dropdown-item {
        // font-family: $font-bold;
        margin-bottom: 15px;
        &:hover {
          color: $primary-color;
        }
      }
    }

    &--home {
      // margin-bottom: 20px;
    }
  }

  &__mobile {
    display: none;

    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: $secondary-color;
    top: 0;
    bottom: 0;

    &__change-lang {
      color: $primary-color;
    }
  }

  &__mobile-nav {
    display: none;
    background-color: $color-white;
    color: $color-grey;
    // border-top: 1px solid $color-light-grey;
    // border-bottom: 1px solid $color-light-grey;
    box-shadow: $main-box-shadow;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;

    @include media-breakpoint-down(lg) {
      display: block;
    }

    &__burger-menu {
      font-size: rem(25);
      color: $primary-color;
      margin-#{$right}: 20px;
    }

    &__logo img {
      height: 45px;
    }

    &__account {
      font-size: rem(25);
      width: 45px;
      height: 45px;
      background-color: $primary-color;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-white;
      margin-#{$right}: 20px;

      &:hover {
        color: $color-white !important;
      }
    }

    &__account-dropdown {
      padding: 10px;
      a {
        display: block;
        text-align: #{$left};
        margin-bottom: 10px;
      }
    }

    #searchMobile {
      width: 0;
      height: 0;
      transition: all 1s ease-in-out;
    }
  }

  &__main {
    &__info {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: #fff;
      text-align: center;
      height: calc(100vh - 245px);

    }

    &__title {
      font-size: rem(50);
      font-weight: 700;
      margin-bottom: 20px;
      margin-top: 30px;
    }

    &__description {
      font-size: rem(22);
      margin-bottom: 10px;
    }
  }

  &__statistics {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    padding: 30px 60px;
    color: #fff;
    background: linear-gradient(360deg, #506252 -33.1%, #3B4D3D 121.83%);
    border-top-right-radius: 140px;
    border-top-left-radius: 140px;
    width: max-content;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    &__item {
      display: flex;
      align-items: center;
      column-gap: 17px;

      &__icon {
        width: 45px;
      }

      &__title {
          font-size: rem(24);
          font-weight: 400;
      }

      &__count {
        font-size: rem(40);
        font-weight: 700;
      }
    }

  }

  @include media-breakpoint-down(lg) {
    &__nav {
      display: none;
    }
  }

  @include media-breakpoint-down(lg) {
    & + div,
    & + section {
      padding-top: 40px;
    }
  }

  @include media-breakpoint-down(sm) {
    height: calc(100vh - 160px);
    &__statistics {
      flex-direction: column;
      align-items: start;
      border-radius: 0;
      padding: 20px;
      row-gap: 10px;
      width: 100%;

      &__item {
        column-gap: 10px;

        &__icon {
          width: 35px;
        }

        &__title {
          font-size: rem(18);
        }

        &__count {
          font-size: rem(20);
        }
      }
    }

    &__main {
      &__info {
        padding: 20px;
      }

      &__title {
        font-size: rem(30);
      }

      &__description {
        font-size: rem(18);
      }
    }
  }
}

#gotToTopButton {
  position: fixed;
  bottom: 20px;
  #{$left}: 30px;
  z-index: 99;
  font-size: 10px;
  border: none;
  outline: none;
  background-color: $primary-color;
  color: white;
  cursor: pointer;
  padding: 15px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(180deg) translate(9px, 5px);
  }
}

#gotToTopButton:hover {
  background-color: #555;
}

// 1366 * 768
// 768 * 1024
// 1024 * 1366
